@keyframes move-bg {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.animate-flow {
    background-size: 200% 200%;
    animation: move-bg 3s linear infinite;
}